@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");
/* body {
  background-color: #F8FAFB;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10%;
} */
.movieContainer {
  margin-top: 50px;
}
.col-md-4,
.description {
  padding: 0;
}

.description {
  font-family: "Fredericka the Great", cursive;
  text-align: center;
}

.card-header,
.metadata {
  background: none;
  padding: 0;
  position: relative;
  border-style: none;
}

.metadata {
  font-size: 16px;
}
.metadata i,
.metadata p {
  float: left;
}
.metadata p {
  margin-top: 0;
  margin-left: 10px;
}
.metadata i {
  color: #ff9d00;
  margin-top: 5px;
  margin-left: 1px;
}

.card-img {
  -webkit-clip-path: inset(10% 0 20% 0);
  clip-path: inset(10% 0 20% 0);
  margin-top: -15%;
}

.card-body {
  position: relative;
  margin-top: -30%;
  color: #9fa7a9;
}
.card-body .card-title {
  font-weight: 100;
  color: #f1ae4a;
}
.card-body .card-text {
  margin-top: 8px;
  font-weight: 600;
  line-height: 30px;
}

.card,
.trailer-preview {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover,
.trailer-preview:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.18);
}

.card {
  background-color: #292929;
  height: 450px;
  border-radius: 8pt;
  border-style: none;
  overflow: hidden;
  transform: scale(0.8);
  margin-top: -60px;
}

.trailer-preview {
  background-color: #ff9800;
  position: absolute;
  top: -46px;
  right: 24px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  font-size: 36px;
  text-align: center;
  padding-top: 13px;
}
.trailer-preview:hover,
.trailer-preview:disabled,
.trailer-preview:active,
.trailer-preview:focus {
  background-color: #ff9800;
  color: white;
}
.trailer-preview i {
  margin-left: 5px;
}
.card-title {
  color: #ff9800;
}

.triangle {
  stroke: #0eb4db;
  stroke-dasharray: 17;
  animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 136;
  }
}

.loading {
  font-family: "Orbitron", sans-serif;
  font-size: 5px;
  animation: blink 0.9s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.svgImage {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
