@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color: #292929;
  font-family: "Open Sans", serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.wrapper .container-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 617px;
  width: 100%;
  box-sizing: border-box;
}
.wrapper .container-search h1 {
  color: #292929;
  text-align: center;
  color: #ff9800;
  font-weight: bold;
}
.wrapper .container-search .container-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.wrapper .container-search .container-input .search-term {
  max-width: 585px;
  width: 100%;
  background-color: white;
  border: 2px solid #ff9800;
  border-right: none;
  color: #ff9800;
  padding: 5px 5px 5px 25px;
  height: 40px;
  border-radius: 50px 0 0 50px;
  outline: none;
  -webkit-appearance: none;
  caret-color: #ff9800;
  font-size: 20px;
}
.wrapper
  .container-search
  .container-input
  .search-term::-webkit-calendar-picker-indicator {
  display: none;
}
.wrapper .container-search .container-input .search-term:focus {
  color: #ff9800;
}
.wrapper .container-search .container-input .search-term::placeholder {
  color: #4e4e64;
  font-weight: italic;
}

.wrapper .container-search .container-input .search-button {
  width: 70px;
  height: 54px;
  background: white;
  text-align: center;
  color: #ff9800;
  border-radius: 0 50px 50px 0;
  border: 2px solid #ff9800;
  cursor: pointer;
  font-size: 25px;
  border-left: none;
}
.wrapper .container-search ul.search-history {
  list-style-type: none;
  padding: 0;
  margin: 16px 0 0 0;
  width: 100%;
}
.wrapper .container-search ul.search-history:hover li {
  opacity: 0.5;
}
.wrapper .container-search ul.search-history li {
  color: #ff9800;
  font-size: 16px;
  margin-bottom: 8px;
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}
.wrapper .container-search ul.search-history li:hover {
  opacity: 1;
}
.wrapper .container-search ul.search-history li span.text {
  position: relative;
  z-index: 3;
}
.wrapper .container-search ul.search-history li span.text a {
  text-decoration: none;
}
.wrapper .container-search ul.search-history li a.link {
  width: 100%;
  height: 40px;
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
}
.wrapper .container-search ul.search-history li:before,
.wrapper .container-search ul.search-history li:after {
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  margin-right: 12px;
  transition: all 0.3s ease-in-out;
}
.wrapper .container-search ul.search-history li:before {
  content: "\f1da";
}
.wrapper .container-search ul.search-history li:after {
  content: "\f30b";
  opacity: 0;
  position: absolute;
  right: 16px;
}
.wrapper .container-search ul.search-history li:hover {
  background: rgba(0, 0, 250, 0.1);
}
.wrapper .container-search ul.search-history li:hover:after {
  opacity: 1;
}
html,
body,
.wrapper {
  width: 100%;
  height: 100%;
}

/* moviedetails */

/*****************globals*************/
/* body {
  font-family: "open sans";
  overflow-x: hidden;
} */

.detailsmovie img {
  max-width: 80%;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.card-detailsme {
  margin-top: 50px;
  background: #292929;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* .product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
} */

.checked,
.price span {
  color: #ff9800;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  color: #ff9800;
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}
.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart,
.like {
  background: #ff9800;
  padding: 1.2em 1.5em;
  border: none;
  /* text-transform: UPPERCASE; */
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.add-to-cart:hover,
.like:hover {
  background: #ff9800;
  color: #ff9800;
}

.not-available {
  text-align: center;
  line-height: 2em;
}
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #ff9800;
}

.orange {
  background: #ff9f1a;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */

p,
span,
.product-description {
  color: white;
}
